.account {
  display: flex;
  position: relative;
  width: 30%;
  margin: 20px auto 0 auto;
}

.account__input {
  position: relative;
  width: 100%;
  height: 35px;
  font-size: 30px;
  border: 0;
  border-bottom: 1px solid #181818;
  outline: 0;
  padding-right: 40px;
}

.account__button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.account__button:disabled > .account__button-icon {
  color: #555555;
}

.account__button-icon {
  color: #181818;
  width: 2em;
  height: 2em;
  transition: color .2s linear;
}
