.years {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 -20px;
}

.years__button {
  margin-left: 20px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  outline: 0;
  background-color: #424242;
  width: 75px;
  height: 32px;
  border-radius: 3px;
  color: #fff;
  transition: background-color .2s linear;
}

.years__button:not(.years__button--enter-done):hover {
  background-color: #2d2d2d;
}

.years__button--enter-done {
  background-color: #181818;
  transition: background-color .2s linear;
}
