.years {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 -20px;
}

.years__button {
  margin-left: 20px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  outline: 0;
  background-color: #424242;
  width: 75px;
  height: 32px;
  border-radius: 3px;
  color: #fff;
}

.years__button:not(.years__button--active):hover {
  background-color: #2d2d2d;
}

.years__button--active {
  background-color: #181818;
}

.years__fade--enter {
  opacity: 0;
}

.years__fade--enter-active {
  opacity: 1;
  transition: opacity .25s linear;
}

.years__fade--enter-done {
  opacity: 1;
}

.years__fade--exit-active {
  opacity: 0;
  transition: opacity .25s linear;
}

.years__fade--exit-done {
  opacity: 0;
}
